@import './theme/index.scss';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);
    .pos-content,
    .pos-content-base {
      position: relative;
      &.pos-content-without-header {
        min-height: 100vh;
        top: 0;
      }
    }
    a {
      color: $text-color-1;
      text-decoration: none;
    }
    .pui-select-list {
      .pui-select-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .car-item {
          flex: 1;
          &.disabled {
            cursor: default;
            color: rgba($text-color-1, 0.5);
          }
        }
      }
    }
    .pos-content-theme {
      background-color: $background-color-2;
      color: $text-color-1;
    }
    // home背景色不同于列表背景色
    .pos-content-theme:has(.homelist-wrap) {
      background-color: $background-color-1;
    }
    .pui-loading-wrap.table-loading-wrap {
      display: block;
    }
  }
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  height: 100%;
}
html,
body,
#root {
  height: 100%;
}

.pos-content-without-header {
  margin-top: 0;
  min-height: 100vh;
  height: 100%;
}

/**
* cascader 组件有一个 render 问题，展开如果碰撞了边界，则会闪动一下滚动条，建议如下：
* 1. 不要在全局 html 或者 body 上使用滚动条，尽量在内部元素上添加 overflow
* 2. 如果一定要解决，暂时只能通过 body 设置唯一索引 css 处理
*/
body:has(.upload-contract-doc-edit) {
  overflow-x: hidden;
}
