@import '_theme/index.scss';
@import '_size/index.scss';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .filter-check-btn {
      background: $filter-highlight-bg-color;
      border: 1px solid $brand-color;
      box-sizing: border-box;
      z-index: 1;
    }

    .page {
      padding: 0 24px 16px;
      &-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &:not(.no-border)::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: calc(100% + 48px);
          margin: 0 -24px;
          height: 1px;
          line-height: 0;
          background-color: $border-color-2;
        }
        .pui-button {
          &-group {
            display: flex;
            gap: 12px;
            .pui-button {
              margin: 0;
            }
          }
        }
      }

      &-filter {
        display: flex;
        flex-wrap: wrap;
        .pui-button-group {
          .pui-button {
            position: relative;
            margin-right: -1px;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
        .pui-divider {
          background: rgba($color: $text-color-1, $alpha: 0.4);
        }
      }

      &-tabs {
        &-title {
          position: absolute;
          z-index: 1;
          top: 15px;
        }
        &-title-extends {
          position: absolute;
          z-index: 9;
          top: 12px;
          right: 24px;
        }
        .pui-tabs {
          &-header-line-true {
            height: 60px;
            padding-left: 142px;
            &::after {
              width: calc(100% + 48px);
              margin: 0 -24px;
              bottom: 0;
            }
            .pui-tab {
              position: relative;
              top: 7px;
            }
          }
          &-body {
            padding: 0;
          }
        }
      }

      &-container {
        margin-top: 24px;
      }
      .pui-pagination {
        @include paginationSticky;
      }
    }
  }
}
@mixin title($size) {
  font-size: sizeValue($size, 20px, 24px);
  font-weight: sizeValue($size, 500, 600);
}
@each $size in $sizes {
  .pui-default-size-#{$size} {
    @include size($size);

    .pos-content-theme-light,
    .pos-content-theme-dark,
    .pos-content-base,
    .pos-content-theme {
      min-height: calc(100vh - $pos-header-height);
      top: $pos-header-height;
    }
    .page {
      &-header {
        height: sizeValue($size, 60px, 90px);
        &-title {
          @include title($size);
        }
      }
      &-filter {
        gap: 0 sizeValue($size, 12px, 16px);
        .pui-form-item {
          margin-bottom: sizeValue($size, 12px, 16px);
        }
        .pui-divider {
          height: sizeValue($size, 36px, 48px);
        }
        margin-top: sizeValue($size, 12px, 16px);
        margin-bottom: sizeValue($size, 8px, 8px);
      }
      &-tabs {
        &-title {
          @include title($size);
        }
      }
    }
  }
}
